<h1>#{{{channel}}}</h1><label>Pick a time: <input id="input" data-user="{{arrayObject.user}}" data-network="{{arrayObject.network}}" data-channel="{{channel}}"></label>
<script>
$(document).ready(function(){
    var input = $('#input')[0];
    rome(input, {
        time: false,
        dateValidator: rome.val.only([
            {{#each arrayObject.dateArray}}
                {{#if @last}} '{{this}}' {{else}} '{{this}}', {{/if}}
            {{/each}}
        ])
    });

    // Some action when date is selected
    rome(input).on('data', function (value) {
        console.log($(input).attr('data-channel'), value);
    });
});
</script>