<h1>#{{{channel}}}</h1><label>Pick a time: <input id="input" data-user="{{arrayObject.user}}" data-network="{{arrayObject.network}}" data-channel="{{channel}}"></label>
<script>
$(document).ready(function(){
    var input = $('#input')[0];

    rome(input, { 
        time: false,
        dateValidator: rome.val.only([
            // Add each possible date
            {{#each arrayObject.dateArray}}
                {{#if @last}} '{{this}}' {{else}} '{{this}}', {{/if}}
            {{/each}}
        ]) 
    }).on('data', function (value) {
        // Some action when date is selected
        //console.log($(input).attr('data-user') + '_' + $(input).attr('data-network') + '_#' + $(input).attr('data-channel') + '_' + value.replace(/-/g, '') + '.txt');
        window.location = '/c/' + $(input).attr('data-channel') + '/' + value.replace(/-/g, '');
    });
});
</script>